{% extends "ContactApplication/base.html" %}
{% block content %}
    <h1>Welcome to Shu Contact</h1>

    <div class="cardleft">
        <h2>The Goal</h2>
        <p>Have you ever had issues with contacting a lecturer? Had issues knowing who your student reps are?
        </br>This website aims to help solve this issue by providing a centralised location to find lecturers.
        </br>Shu Contact allows you to contact lecturers, student reps and other students, as well as create group messages.
        </br>In order to use Shu Contact you need an account, in order to create an account visit the registration page.
        </br>Once you have created an account, you need to register for a profile, you can have a student, student rep or mentor profile.
        </p>
    </div>
    <div class="paddingelem"></div>
    <div class="cardleft">
        <h2>Mentors</h2>
        <p>Having a mentor profile means you will be shown to users on the profile page, meaning users will be able to find you.
        </br>In order to create a mentor profile you will need a reference number, you will need to obtain this from a current mentor.
        </br>To sign up for a mentor profile you will first need a standard account. If you do not have this press register.
        </br>After you have a standard account you need to press create a profile, this will be in the top right of your screen.
        </br>Once you have a mentor proile your profile will be shown on the mentors page, this will allow people to see your basic details.
        </p>
    </div>
    <div class="paddingelem"></div>
    <div class="cardleft">
        <h2>Student Reps</h2>
        <p>Student reps can create a student rep profile, this will allow them to be shown off on the appropriate student rep page.
        </br>By being on this page you acknowledge that people will contact you, meaning that you will receive messages. 
        </br>While there is not much difference between having a student and student rep profile, being displayed makes you a main point of contact.
        </br>Before acquiring a student rep account you will need a standard account. If you do not have one press register.
        </br>Once you have a standard account you will need to press create profile which will take you through profile creation.
        </p>
    </div>
    <div class="paddingelem"></div>
    <div class="cardleft">
        <h2>Students</h2>
        <p>As a student you can contact mentors and student reps, the difference between a student profile and other profiles is that nobody can contact you first.
        </br>This website aims to make it easier to contact them, you'll be able to directly message student reps and lecturers here!
        </br>First you will need to create an account, press the register button in order to create an account.
        </br>Once you have an account you'll need to create a student account, press create profile in order to do this.
        </br>Once you do this you can message a student rep/mentor by pressing contact on their profiles.
        </p>
    </div>
{% endblock content %}
