{% extends "ContactApplication/base.html" %}
{% block content %}
    <h1>Welcome to Shu Contact</h1>

    <div class="cardleft">
        <h2>The goal</h2>
        <p>Have you ever had issues with contacting a lecturer? Had issues knowing who your student reps are?
        </br>This website aims to help solve this issue by providing a centralised location to find lecturers.
        </br>Shu Contact allows you to contact lecturers, student reps and other students, as well as create group messages.
        </br>In order to use Shu Contact you need an account, in order to create an account visit the registration page.
        </br>Once you have created an account, you need to register for a profile, you can have a student, student rep or mentor profile.
        </p>
        <div style="text-align: right; position:relative; bottom: 190px">
            <img class="rounded-circle" src="media/download.jpg", width="185", height="185">
        </div>
    </div>
    <div class="paddingelem"></div>
    <div class="cardright">
        <h2>Mentors</h2>
        <p>Having a mentor profile means you will be shown to users on the profile page, meaning users will be able to find you.
        </br>In order to create a mentor profile you will need a reference number, you will need to obtain this from a current mentor.
        </br>To sign up for a mentor profile you will first need a standard account. If you do not have this press register.
        </br>After you have a standard account you need to press create a profile, this will be in the top right of your screen.
        </br>Once you have a mentor proile your profile will be shown on the mentors page, this will allow people to see your basic details.
        </p>
        <div style="text-align: left; position:relative; bottom: 190px">
            <img class="rounded-circle" src="media/download.jpg", width="185", height="185">
        </div>
    </div>
    <div class="paddingelem"></div>
    <div class="cardleft">
        <h2>Student reps</h2>
        <p>Have you ever had issues with contacting a lecturer? Had issues knowing who your student reps are?
        </br>This website aims to
        </br>Test
        </br>Test
        </br>Test
        </p>
        <div style="text-align: right; position:relative; bottom: 190px">
            <img class="rounded-circle" src="media/download.jpg", width="185", height="185">
        </div>
    </div>
    <div class="paddingelem"></div>
    <div class="cardright">
        <h2>Students</h2>
        <p>Have you ever had issues with contacting a lecturer? Had issues knowing who your student reps are?
        </br>This website aims to
        </br>Test
        </br>Test
        </br>Test
        </p>
        <div style="text-align: left; position:relative; bottom: 190px">
            <img class="rounded-circle" src="media/download.jpg", width="185", height="185">
        </div>
    </div>
{% endblock content %}
