{% extends "ContactApplication/base.html" %}
{% block content %}
    <h1>Welcome to the contact application</h1>
    <div class="row">
        <div class="column1">
            <h2>Column 1</h2>
            <p>When i was younger i belurnr ur vjh buhr bh bhr bhr bhr bjr bjhgr bjhr bjngr bjnr bjgr bhrb jhr bh bjhr bj bhr bjhr bjgr</p>
        </div>
        <div class="column2">
            <h2>Column 2</h2>
            <p>Data..</p>
        </div>
        <div class="column3">
            
        </div>
    </div>
{% endblock content %}
