{% extends "ContactApplication/base.html" %}
{% block content %}
<h1>These are the posts made by this websites' users!</h1>
<p>There are 2 different post types, problems and discussions. Problems need solutions, so if you see a problem post make sure to help someone out.</p>
<p>The other type of post is a discussion, these posts will usually be for people who want to talk about something but don't necessarily need solutions.</p>

<div class="make-post-button" style="margin-left: 15px;">
    <a href="{% url 'forums:post-create' %}">
        <button>Make Post</button>
    </a>
</div>
</br>

{% for post in posts %}
    <div class="cardtext">
        <p class="text-content">Posted at {{ post.timesubmitted }}<span class="text-content" style="float: right;">This post was made by {{ post.user }}</span>
        {% if post.user.mentorprofile %}
            <p class="text-content">This user is a mentor</p>
            {% elif post.user.studentrepprofile %}
            <p class="text-content">This user is a student rep</p>
            {% elif post.user.studentprofile %}
            <p class="text-content">This user is a student</p>
        {% endif %}
        </p>
        <h2>{{ post.title }}</h2>
        <h5>{{ post.typeofpost }} </h5>
        <div class="article-metadata"></div>
        <p>{{ post.description }}</p>
        <a href="{% url 'forums:post-detail' post.id %}">
            <button>View post</button>
        </a>
    </div>
{% endfor %}

    <div class="columnend">
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
        {% endif %}
    </div>

 <style>
    button {
        width: 20%;
    }
    .cardtext {
        height: 350px;
        max-height: 350px;
    }
    .make-post-button {
            margin-top: 20px; 
        }
</style>
{% endblock content %}