html {
    position: relative;
    min-height: 100%;
  }
  
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    margin-bottom: 50px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #232124;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #a5bae7;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .column {
    float: left;
    width: 30%;
    border-radius: 3px;
  }

  .columnend {
    float: left;
    width:100%
  }

  .columndisplay {
    float: left;
    width: 30%;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    
    }

  .row:after {
    content: "";
    display: table;
    clear: both;
    }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #cccccc;
  }


  .card {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 5px;
    text-align: center;
    font-family: arial;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 800px;
  }

  .bottomcard {
    position: absolute;
    bottom: 0px;
    width: 270px;
    padding-bottom: 15px;

  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .paddingelem {
    height: 10px
  }
  .cardleft {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 5px;
    text-align: left;
    font-family: arial;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
  }
  .cardright {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 5px;
    text-align: right;
    font-family: arial;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
  }

  .sidenav {
    height:100%;
    width:160px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#232124;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:20px;
    color: #cbd5db;
    display:block;
  }

  .sidenav a:hover{
    color:#a5bae7;
  }	

  .main{
    margin-left:160px;
    padding: 0px 10px;
  }

  .conversationcontainer {
    max-height: 590px; 
    min-height:590px;
    background-color: #ffffff;
    width: 400px;
    overflow-y: auto;
    border-top: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    padding-left: 5px;
    padding-right: 5px;
}
  .conversationcontainerbottom {
    max-height: 200px; 
    background-color: #ffffff;
    width: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
  }

  .timestamp-text {
    font-size: 10px;

  }

  .text-content {
    font-size: 14px;
  }

  .cardtext {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 5px;
    text-align: left;
    font-family: arial;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
  }

  ::-webkit-scrollbar {
    width: 12px;
    display: none; /* Hide scroll bars by default */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.conversationcontainer::-webkit-scrollbar {
    width: 12px;
    display: block; 
}

.conversationcontainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.conversationcontainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.conversationcontainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
