{% extends "ContactApplication/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.mentorprofile %}
<div class="row">
    <div class="col-md-8">
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">{{user.mentorprofile}}</h2>
                        <p class="text-secondary">{{user.email}}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Mentor Reference Number Generator</legend>
                    {{ MNG_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2>You must be logged in as a mentor to access this page.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}