{% extends "ContactApplication/base.html" %}
{% block content %}
<h1>Please select the type of profile you would like.</h1>
<div class="columndisplay">
    <div class="card">
        <h2>Student profile</h2>
        <div style="position:relative;">
            <img class="rounded-circle" src="media/Student.png", width="250", height="250">
        </div>
        <p>Students are important to an educational setting, this is because they are the ones that impart knowledge to the next generation.
            Because of this, it's important for students to be represented, the best way to represent students is to give them a voice,
            meaning that their feedback is taken into consideration.
            This website allows students to directly contact student reps and mentors, which helps to get the clarity they need on a variety
            of issues.
        </p>
        <div class="bottomcard">
            <a class="ml-2" href="{% url 'studentprofilecreate' %}">Create student profile</a>
        </div>
    </div>
</div>
<div class="columndisplay">
    <div class="card">
        <h2>Student rep profile</h2>
        <div style="position:relative;">
            <img class="rounded-circle" src="media/StudentRep.png", width="250", height="250">
        </div>
        <p>Student reps are essential for educational settings, this is because they exist as the link between students and staff.
            While mentors usually take longer to respond a student rep will usually not take as long, meaning they are a vital point of contact.
            Student reps can also usually contact staff members through a more streamlined process than what the typical student has to go through.
        </p>
        <div class="bottomcard">
            <a class="ml-2" href="{% url 'studentrepprofilecreate' %}">Create student rep profile</a>
        </div>
    </div>
</div>
<div class="columndisplay">
    <div class="card">
        <h2>Mentor profile</h2>
        <div style="position:relative;">
            <img class="rounded-circle" src="media/Mentor.png", width="250", height="250">
        </div>
        <p>Mentors have the job of guiding students and student reps, being a main point of contact when something goes wrong, mentors are important for a variety of reasons.
            Even though mentors can seem busy, a lot of the time they are performing important tasks, this website allows mentors the space to display their professions.
            When students and student reps contact mentors it allows them to share their knowledge, meaning that the problems students/students reps have can be resolved.
        </p>
        <div class="bottomcard">
            <a class="ml-2" href="{% url 'mentorprofilecreate' %}">Create mentor profile</a>
        </div>
    </div>
</div>
{% endblock content %}