{% extends "ContactApplication/base.html" %}
{% block content %}
<h1>These are your messages</h1>

{% for conversation_id, texts in conversations.items %}
<div class="cardtext">
    {% if texts.0.sender == request.user %}
        <a href="{% url 'messaging:reply_message' message_id=texts.0.id %}">
            <h2>{{ texts.0.recipient.username }}</h2>
        </a>
    {% else %}
        <a href="{% url 'messaging:reply_message' message_id=texts.0.id %}">
            <h2>{{ texts.0.sender.username }}</h2>
        </a>
    {% endif %}
    <p>{{ texts.0.content }} - <span class="timestamp-text">{{ texts.0.timestamp }}</span></p>
        <a href="{% url 'messaging:reply_message' message_id=texts.0.id %}"><button>Reply</button></a>
</div>
{% endfor %}

<style>
    button {
        width: 30%;
    }

</style>

{% endblock content %}